/**
 * @file
 * This file is used for make a style on foursqure content.
*/

#foursquare_container {
  border: 1px solid gray;
  font-size: 11px;
  font-weight: normal;
  height: 300px;
  min-width: 198px;
  overflow-y: scroll;
  padding: 5px;
  width: auto;
}

#foursqure_container_tipsimage {
  float: left;
  height: 32px;
  margin: 0 10px 10px 0;
  padding-top: 5px;
  width: 32px;
}

#foursqure_container_tipscontent {
  display: table-cell;
  min-width: 139px;
  width: auto;
}

#foursqure_container_tipscontent span {
  color: gray;
  font-size: 9px;
}

#fsquare {
  background-image: url('images/fsquare-logo.png');
  background-repeat: no-repeat;
  float: right;
  height: 36px;
  width: 120px;
}

#foursqure_container_tipsimage img {
  height: 32px;
  width: 32px;
}

.foursqure_container_vname {
  color: #d7568c;
  font-size: 12px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 1px;
}
.clear {
  clear: both;
}
